doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      header
        block header
        ul.ruler.horz
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
        ul.ruler.vert
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
          li
      block content
      block footer
